%rob-light{
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
}

%rob-reg{
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}

%rob-med{
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
}

%rob-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
}
