@import "libs/libs";
@import "fonts";
@import "vars";
@import "global";

.header {
    margin-bottom: 40px;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22252e;
    width: 100vw;
    position: relative;
    padding: 14px 5px 12px;
    margin-bottom: 40px;

		&__list {
            display: flex;
            flex-wrap: wrap;
            gap: 33px;
            font-size: 12px;
            line-height: 16px;
            @extend %rob-reg;
            margin-right: 45px;
		}
		&__list-item {
            color: #889099;
		}
		&__close {
            cursor: pointer;
            position: absolute;
            right: 21px;
		}
}
.learn{
    order: 2;
}
.isp{
    order: 1;
}

.protected {
    margin-left: 30px;
    color: #ff8d00;
    @extend %rob-bold;
    position: relative;
    &::before{
        content: url('../images/before-top.svg');
        position: absolute;
        left: -30px;
        top: -3px;    
    }   
}
.learn__link {
    color: #ffffff;
}
.header-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
.logo {
    object-fit: contain;
    object-position: center;
    margin-right: 10px;
}
.logo-img {
    width: 259px;
    height: 34px;
}
.logo-mobile{
    display: none;
}

.menu-list {
    display: flex;
    gap: 49px;
    margin-right: 30px;

		&__item {
            color: #323642;
            font-size: 14px;
            @extend %rob-med;
            line-height: 18px;
            position: relative;
            text-transform: uppercase;
            &::after{
                content: url('../images/after-menu.svg');
                position: absolute;
                right: -15px;
                top: -5px;
            }
            &:hover {              
                .menu-list__item-link::before {
                    width: 100%;
                } 
            }
		}
		&__item-link {
            position: relative;
             &::before{
                content: " ";
                height:3px;
                position: absolute;
                transition: all 0.3s;
                background-color: #4cb649;
                bottom: -5px;
                left: 0;
                width: 0;
            }
		}
}

.mobile-menu{
    display: none;
}

.custom-buttons button{
    text-transform: uppercase;
    color: #4cb649;
    border: 1px solid #4cb649;
    background-color: transparent;
    border-radius: 30px;
    padding: 16px 16px 8px;
    transition: all 0.3s;
    font-size: 14px;
    line-height: 18px;
    @extend %rob-med;

    &:hover{
        color: #ffffff;
        background-image: linear-gradient(to top, #4cb649 0%, #5ddf5a 100%);
    }
}

.started{
    min-width: 160px;
}
.log {
    margin-right: 10px;
}

.top-post {
    margin-bottom: 30px;

    &__inner {
        display: flex;
        gap: 60px;
        border: 1px solid #d7d8d9;
        border-radius: 5px 0 0 5px;
    }

    &__img {
        max-width: 600px;
        object-fit: cover;
        object-position: center;
    }
    .post__content {
        max-width: 480px;
        margin-top: 63px;
        margin-bottom: 90px;
    }
}

.post{
    
    .container{
        display: flex;
        gap: 40px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ebeced;
        max-width: 740px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__content {
        max-width: 460px;
        margin-bottom: 12px;
        font-size: 24px;
        line-height: 34px;
        @extend %rob-light;
        color: #22252e;
    }

    &__about {
        font-size: 14px;
        line-height: 22px;
    }

    &__about span{
        color: #889099;
    }

    &__copyright {
        font-size: 12px;
        line-height: 16px;
        color: #4cb649;
        text-transform: uppercase;
    }

    &__comment {
        color: #889099;
        line-height: 22px;
        object-fit: contain;
        object-position: center;
        margin-bottom: 15px;
    }

    &__comment-img {
        width: 12px;
        height: 12px;
    }

    &__img {
        width: 280px;
        height: 180px;
        object-fit: contain;
        object-position: center;
    }
}


.tags {
    margin-bottom: 34px;
    letter-spacing: 0.8px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    @extend %rob-med;

    &__inner{
        padding: 26px 32px 18px;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        color: #323642;
    }
}
.tags p{
    margin: 0;
}
.tags-list {
    display: flex;
    gap: 16px;
    margin-left: 38px;
    cursor: pointer;
		&__item {
            color: #4cb649;
		}
}
.team-contact {
    cursor: pointer;
    margin-left: auto;
    display: flex;
    gap: 16px;
}



.recent {
    margin-bottom: 73px;

    &__posts {
        .custom-buttons{
            margin: 0 auto;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__posts-inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-right: 1px solid #ebeced; 
        padding-right: 60px;
    }

    &__right {
        padding-left: 60px;
        max-width: 380px;
    }

    &__search {
        position: relative;
        margin-bottom: 47px;
        &::before{
            content: url('..//images/search.svg');
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__search-input {
        width: 100%;
        padding: 20px 20px 18px 60px;
        font-size: 18px;
        line-height: 28px;
        @extend %rob-light;
        color: #22252e;
        border: 1px solid #d7d8d9;
    }

    &__right-title {
        display: flex;
        gap: 30px;
        justify-content: flex-start;
        align-items: flex-end;
        object-fit: contain;
        object-position: center;
        margin-bottom: 41px;
    }
    &__right-title-img{
        width: 40px;
        height: 40px;
    }
    &__right-title-text{
        font-size: 24px;
        @extend %rob-light;
    }

    &__right-item {
        margin-bottom: 21px;
        line-height: 22px;
        font-size: 14px;
        &::before{
            content:"•";
            color: #4cb649;
            margin-right: 5px;
        }
    }
    &__right-item:last-child{
        margin-bottom: 0;
    }

}

.recent-title{
    font-size: 32px;
    line-height: 44px;
    @extend %rob-light;
    color: #22252e;
    margin-bottom: 41px;
}

.older-posts{
   min-width: 260px; 
}

.announcements,
.poular {
    padding-bottom: 30px;
    border-bottom: 1px solid #ebeced;
    margin-bottom: 35px;
}

.bigbroth {
    width: 100%;
    max-width: 340px;
    height: 454px;
    margin-bottom: 55px;
}

.tag-cloud {
    h2 {
        margin-bottom: 17px;
    }
    &__img {
        margin-left: -15px;
        max-width: 324px;
        height: 309px;
        width: 100%;
    }
}

.sign-up {
    background-image: url(../images/bg-sign.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 104px;
    padding-bottom: 54px;
    margin-bottom: 70px;

    &__title {
        @extend %rob-light;
        font-size: 48px;
        line-height: 64px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 52px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__links {
        font-size: 14px;
        color: #4cb649;
        @extend %rob-med;
        line-height: 18px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }

    &__links-redem,
    &__links-anonimus{
        margin-right: 76px;
        position: relative;
        &::after{
            content: "\2192";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -30px;
            font-size: 21px;
        }
    }
}
.sign-up p{
    margin-top: 0;
}

.propose {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    height: 400px;
    margin-bottom: 10px;

    &__item {
        max-width: 380px;
        max-height: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        border: 1px solid #ebeced;
        border-radius: 6px;
        padding: 50px 90px 40px;
        transition: max-height 0.3s;

        &:hover{
            max-height: 380px;
            border: 4px solid #4cb649
        }
    }

    &__item-period {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 18px;
        @extend %rob-med;
        margin-bottom: 34px;
        position: relative;
        &::after{
            content: "";
            background-color: #4cb649;
            height: 2px;
            width: 24px;
            position:absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__item-price {
        color: #22252e;
        font-size: 56px;
        @extend %rob-light;
        padding-bottom: 11px;
        border-bottom: 1px solid #ebeced;
        margin-bottom: 31px;
        position: relative;
        &::before{
            content: url('../images/dolar.svg');
            position: absolute;
            top: -20px;
            left: -20px;
        }
    }

    &__item-price span{
        font-size: 24px;
    }

    &__item-desc {
        font-size: 14px;
        margin-bottom: 10px;
    }
    &__item-desc span{
        color: #f24458;
        text-decoration:line-through;
    }

    &__item-sign {
        width: 205px;
    }

    &__item-save {
        @extend %rob-bold;
        margin-bottom: 17px;
    }
}

.first-propouse{
    margin-bottom: 30px;
}
.ways-pay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;

    &__text {
        color: #ffffff;
        font-size: 18px;
        @extend %rob-light;
        line-height: 28px;
    }

    &__item {
        max-width: 100px;
        max-height: 100px;
        object-fit: contain;
        object-position: center;
    }
}


.footer {
    padding-bottom: 91px;

    &__inner {
        display: flex;
        gap: 50px;
    }

    .logo{
        margin-bottom: 77px;
    }
}

.footer-title {
    font-size: 14px;
    @extend %rob-med;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.footer-list {
margin-bottom: 40px;
    &__item {
        color: #889099;
        @extend %rob-reg;
        line-height: 22px;
        margin-bottom: 10px;
    }
}


.about {
    margin-bottom: 45px;
    &__text{
        max-width: 600px;
        font-size: 14px;
        line-height: 22px;
        color: #889099;
    }
    &__text+.about__text{
        font-size: 12px;
    }
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 31px;
}



@import "media";




